.most-view {
   padding-bottom: 80px;

   /* Tablet Small*/
   @media (max-width: 899px) {
      padding-bottom: 60px;
   }

   /* Mobile*/
   @media (max-width: 599px) {
      padding-bottom: 40px;
   }
}

.most-view__top {
   display: flex;
   justify-content: space-between;
   align-items: end;
   margin-bottom: 54px;

   /* Mobile*/
   @media (max-width: 599px) {
      margin-bottom: 30px;
   }
}

.most-view__title {
   position: relative;
   &:after {
      content: "";
      position: absolute;
      bottom: -35%;
      left: 0;
      width: 200px;
      height: 8px;
      background: $primary-color;

      /* Mobile*/
      @media (max-width: 599px) {
         bottom: -70%;
      }
   }
}

.most-view__row {
   display: flex;
   flex-wrap: wrap;
   column-gap: 20px;
   row-gap: 30px;
   position: relative;

   /* Tablet Small*/
   @media (max-width: 899px) {
      flex-direction: column;
      align-items: center;
      row-gap: 25px;
      margin-bottom: 34px;
   }

   /* Mobile*/
   @media (max-width: 599px) {
      row-gap: 8px;
      margin-bottom: 24px;
   }
}

.cards__next {
   position: absolute;
   top: 50%;
   right: 0;
   transform: translate(0, -50%);

   width: 28px;
   height: 28px;

   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background: $white-color;
   border: 1px solid $light-gray;
   z-index: 2;
   @include transition;

   svg {
      width: 14px;
      height: 14px;

      path {
         fill: $primary-color;
         @include transition;
      }
   }

   &:hover,
   &:active {
      background-color: $primary-color;

      svg {
         width: 14px;
         height: 14px;

         path {
            fill: $white-color;
            @include transition;
         }
      }
   }

   /* Tablet Big */
   @media (max-width: 1199px) {
      top: 75%;
      right: 46%;
   }

   /* Tablet Small*/
   @media (max-width: 899px) {
      display: none;
   }
}

.most-view__btn {
   margin-left: auto;
   margin-right: auto;
}
